[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
fastapi = "*"
hypercorn = "*"
uvloop = "*"
pydantic = "*"
pydantic-settings = "*"

[requires]
python_version = "3.12"
